@model CoffeeShopWebApp.Models.RegisterListViewModel

@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<h4>Hello @Html.DisplayFor(firstName => Model.FirstName) @Html.DisplayFor(lastName => Model.LastName)!</h4>-->

<h3>@ViewBag.Message</h3>

<button type="button" class="btn btn-default">@Html.ActionLink("Add Another?", "Register", "Home")</button>
<button type="button" class="btn btn-default" id="buyproduct">@Html.ActionLink("Buy Product", "Product", "Home")</button>
