@model CoffeeShopWebApp.Models.RegisterListViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Message</h3>

@using (@Html.BeginForm("AddUser", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-2">
            <label>First Name:</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(firstName => Model.FirstName)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Last Name:</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(lastName => Model.LastName)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Birthday:</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(birthday => Model.Birthday)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Favorite Cofee:</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(favoriteCoffee => Model.FavoriteCoffee)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Email:</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(email => Model.Email)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Password:</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(password => Model.Password)
        </div>
    </div>

    <input type="submit" value="Register"/>
}
