@model CoffeeShopWebApp.Models.RegisterListViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var listItems = new List<SelectListItem>()
{
new SelectListItem
{
Text = "Espresso",
Value = "Espresso"

},
new SelectListItem
{
Text = "Latte",
Value = "Latte"
},
new SelectListItem
{
Text = "Cafe Au Lait",
Value = "Cafe Au Lait"
}
};
}

<h3>@ViewBag.Message</h3>

<!-- Kept this here as an example of a second way to do it -->
@using (@Html.BeginForm("AddUser", "Home", FormMethod.Post))
{
    Html.ValidationSummary(true);
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
    <div class="row">
        <div class="col-md-2">
            <label>First Name:</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(firstName => Model.FirstName)
            @Html.ValidationMessageFor(firstName => Model.FirstName)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Last Name:</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(lastName => Model.LastName)
            @Html.ValidationMessageFor(lastName => Model.LastName)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Birthday:</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(birthday => Model.Birthday)
            @Html.ValidationMessageFor(birthday => Model.Birthday)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Favorite Cofee:</label>
        </div>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.FavoriteCoffee, listItems, "---SELECT COFFEE---", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(favoriteCoffee => Model.FavoriteCoffee)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Email:</label>
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(email => Model.Email)
            @Html.ValidationMessageFor(email => Model.Email)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Password:</label>
        </div>
        <div class="col-md-10">
            @Html.PasswordFor(password => Model.Password)
            @Html.ValidationMessageFor(password => Model.Password)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Confirm Password:</label>
        </div>
        <div class="col-md-10">
            @Html.PasswordFor(confirmPassword => Model.ConfirmPassword)
            @Html.ValidationMessageFor(confirmPassword => Model.ConfirmPassword)
        </div>
    </div>

    <input type="submit" value="Register" />
}

<!-- JQuery scripts to set rules and messages for form validation-->
@*
    @section scripts
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $("#registerForm").validate({
                    wrapper: "div",
                    rules: {
                        FirstName: {
                            required: true,
                            minlength: 2
                        },
                        LastName: {
                            required: true,
                            minlength: 2
                        },
                        Birthday: {
                            required: true,
                            date: true
                        },
                        FavoriteCoffee: {
                            required: true,
                            minlength: 3
                        },
                        Email: {
                            required: true,
                            email: true
                        },
                        Password: {
                            required: true,
                            minlength: 6
                        },
                        ConfirmPassword: {
                            required: true,
                            minlength: 6,
                            equalTo: "#password"
                        }
                    },
                    messages: {
                        FirstName: {
                            required: "First name is required",
                            minlength: "First name must be longer than 2 letters"
                        },
                        LastName: {
                            required: "Last name is required",
                            minlLength: "Last name must be longer than 2 letters"
                        },
                        Birthday: {
                            required: "Birthday is required",
                            date: "Invalid date for birthday"
                        },
                        FavoriteCoffee: {
                            required: "Favorite coffee is required",
                            minlength: "Favorite coffee must be longer than 3 letters"
                        },
                        Email: {
                            required: "A valid email address is required",
                            email: "That is not a valid email address"
                        },
                        Password: {
                            required: "A password is required",
                            minlength: "The password must be at least 6 characters long"
                        },
                        ConfirmPassword: {
                            required: "The entered password must be confirmed",
                            minlength: "The password must be at least 6 characters long",
                            equalTo: "That password does not match the one you entered. Please try again."
                        }
                    }
                });
            });
        </script>
    }

    <!-- creation of form to be fill out in HTML -->
    <form id="registerForm" action="/Home/AddUser" method="post">
        <div class="row">
            <div class="col-md-12">
                <label>First Name:</label>
                <input type="text" name="FirstName" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Last Name:</label>
                <input type="text" name="LastName" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Birthday:</label>
                <input type="date" name="Birthday" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Favorite Coffee:</label>
                <input type="text" name="FavoriteCoffee" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Email:</label>
                <input type="email" name="Email" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Password:</label>
                <input type="password" id="password" name="Password" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Confirm Password:</label>
                <input type="password" name="ConfirmPassword" class="form-control" />
            </div>
        </div>
        <input type="submit" id="submit" value="Register" />
    </form>
*@
