@model System.Linq.IQueryable<CoffeeShopWebApp.DAL.Item>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- using custom CSS from site.css -->
<h2>Welcome to the <span id="gchome">GC Coffee Shop</span>!</h2>
<h3>@Html.ActionLink("Register", "Create", "Users")</h3>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            Picture
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Name)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Description)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Price)
            </th>
            <th>
                <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="@Html.DisplayFor(modelItem => item.Name)" height="100" width="100" />
            </th>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
